<header class='second-header'>
  <%= link_to image_tag("furima-logo-color.png", class:"second-logo"), "/" %>
  
  <div class="header-right">
    <% if user_signed_in? %>
      <% unless controller.controller_name == 'orders' && action_name == 'index' %>
        <span class="user-name">
          ようこそ、<%= current_user.nickname %> さん！
        </span>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn" %>
      <% end %>
    <% else %>
     <% unless (controller.controller_name == 'registrations' && action_name.in?(%w[new create])) || 
               (controller.controller_name == 'sessions' && action_name.in?(%w[new create])) %>
        <%= link_to "ログイン", new_user_session_path, class: "login-btn" %>
        <%= link_to "新規登録", new_user_registration_path, class: "signup-btn" %>
      <% end %>
   <% end %>
  </div>
</header>